.ocultar {
    display: none;
}
html {
  padding-left: 50px;
  padding-right: 50px;
}
body { 
  width: 100%; /*ancho de un elemento*/
  margin: auto; /*margen para los cuatro lados de un elemento -> margin: 70px;*/
  font-family: 'Times New Roman';
  
}

header {  
  height: 90px; /*altura*/ 
  background-color: white;
  /*position: sticky; /*posicion para que no se mueva esta etiqueta*/
  top: 20px; /*para separarlo de la parte superior*/ 
  position: relative; 
}

header img {  
  width: 290px;
  height: 85px;  
}

#busqueda input {  
  top: 20px; /*para separarlo de la parte superior*/
  right: 50px; /*para separarlo de la parte derecha*/   
  position: absolute; /**/
  width: 280px;
  height: 40px;
  border: 2px solid #CCCCCC;
}

input {
  border-radius: 10px;
  color: #4b4a4a; 
  font-size: 16px;
  padding-left: 15px;
}

#busqueda img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 23px;
  left: 1300px;  
}

nav {  
  /*width: 600px; no es necesario declarar*/
  height: 70px;
}
nav ul {
  background-color: #052f83;  /*color de fondo*/
  height: 5rem; /* la medida verticar de la lista de menu*/
  margin: 0;
  padding: 0;  /*generar espacio: -top: arriba, -right: derecha, -botton: abajo, -left: izquierda */
}

nav ul li {
  list-style: none; /*quitar las viñetas de la lista*/
  float: left; /* los elemetos de la lista estes en horizontal*/
  margin-top: 16px; /*para bajar el texto: centrar*/ 
}

nav ul li a {
  display: block; /*para poder aplicarle padding, margenes, ext*/
  text-decoration: none; /*quitar el subrayado de las referencias - link*/
  padding: 0 3rem; /*es la sepacion que tendran entre los link -> padding: 20px 70px*/  
  color: white;
  font-size: 1rem;
  line-height: 4rem; /*tener la misma medida del nav ul -> height: 5em;*/
  
}
nav li a:hover { /*cuando el mouse pase por ahi*/
  background:#ffc107 ; /* rgba(0, 0, 0,.4) */
}

#type_img {  
  width: 271px;
  height: 37px;
  position: absolute;
  top: 110px;
}

#visa_1{  
  width: 56px;
  height: 40px;
}

#master_1{  
  width: 56px;
  height: 40px;
}
#club_1{  
  width: 56px;
  height: 40px;
}
#american_1{  
  width: 56px;
  height: 40px;
}


#contenedor_principal{
  position: absolute;
  width: 500px;
  height: 470px;
  background: #F4F7F9; /*color del fondo #F4F7F9*/
  top: 200px; /*para separarlo de la parte superior*/
  left: 430px;/*para separarlo de la parte izquierda*/  
  margin-top: 15px; /*para bajar el texto: centrar*/
  line-height: 1; /*es la sangria, el espacio de separacion*/
  font-size: 16px;
  padding-left: 35px;
}

#contenedor1 {
  max-width: 350px;
  margin-left: 45px;
  background-color: rgba(241, 181, 15, 0.4);
}

label {
  color: blue; /*4b4a4a*/  
  font-size: 16px;
}
#namber_creditcard {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: red; /*4b4a4a*/  
  /*top: 20px; /*para separarlo de la parte superior*/
  /*right: 50px; /*para separarlo de la parte derecha*/  
  width: 200px;
  height: 30px;
  padding-left: 15px; /*escribir con un espacio en el input*/
  font-family: 'Times New Roman'; 
}
#alert_creditcard {
  color: red;
}

.select {
  border: 1px solid rgba(128,138,157,.5);
  border-radius: 4px;
  background-color: transparent;
  color: black;
  height: 35px;
  padding: .45rem .5rem;
}

#years{
  width: 80px;

}
  
#months {
  width: 115px;
}


#cvc_card {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  color: #4b4a4a; /*4b4a4a*/  
  top: 20px; /*para separarlo de la parte superior*/
  right: 50px; /*para separarlo de la parte derecha*/  
  width: 80px;
  height: 30px;
  padding-left: 15px; /*escribir con un espacio en el input*/
  font-family: 'Times New Roman'; 
}

button {
  height:35px;
  width: 100%;
  position: relative; /*con absolute: se sale del div; con relative esta dentro del div*/
  background-color: #ffc107;
  color: black;
}
  

footer {  
  
}

#pie_principal {  
  position: relative;  
  height: 100px; /*alto del elemento : vertical*/
  background: #052F83;
  top: 550px; /*para separarlo de la parte superior*/
  padding-left: 40px; /*para separarlo de la parte izquierda*/
  padding-top: 15px;
  color: #99A5B9;
  line-height: .5; /*es la sangria, el espacio de separacion*/  
}

#contacto{
  position: absolute;
  padding-left: 1000px; /*para separarlo de la parte izquierda*/  
  color: #99A5B9;
  line-height: .5; /*es la sangria, el espacio de separacion*/
  top: 15px;
}

#pie_final {    
  height: 50px;
  position: relative; /*la barra azul este abajo*/
  background: #08194F;
  top: 550px; /*para separarlo de la parte superior*/
  padding-top: 15px;
  color: white;
  text-align: center;
}

#pie_principal label{
  color: rgb(248, 135, 60);
}

#pie_final label{
  color: white;
}



