html {
  padding-left: 50px;
  padding-right: 50px;  
}

body { 
  width: 100%; /*ancho de un elemento*/
  margin: 0; /*margen para los cuatro lados de un elemento -> margin: auto;*/
  font-family: 'Times New Roman';
}

header {  
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;  
}
  header #logo {  
    width: 290px;
    height: 85px;  
  }

  header #buscar {
    width: 250px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    color: #4b4a4a; 
    font-size: 14px;
    padding-left: 15px;
    position: absolute;
    top: 40px; /*para separarlo de la parte superior*/
    right: 50px; /*para separarlo de la parte derecha*/ 
  }

  header #lupa {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 50px;    
  }

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none; /*quitar las viñetas de la lista*/
  background-color: #052f83;  /*color de fondo*/
  display: flex; 
}

li {
  flex: auto; /*repartir los li's */
  border-right: 1px solid rgb(25, 33, 100);
  text-align: center; 
}

a {
  color: white;
  text-decoration: none; /*quitar el subrayado de las referencias - link*/
  line-height: 3;
  display: block;
}

a:hover { /*cuando el mouse pase por ahi*/
  background:#ffc107 ; /* rgba(0, 0, 0,.4) */
}

main {
  display: flex;
  background: #F4F7F9; /*color del fondo #F4F7F9*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;  
}

#container1 {  
  background-color: rgb(243, 241, 241);
  padding-left: 20px;
  padding-right: 20px;  
}

#container2 {
  background-color: rgb(243, 241, 241);
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
}

#type_img {  
  width: 271px;
  height: 37px;
}

#visa_1, #master_1, #club_1, #american_1 {  
  width: 56px;
  height: 40px;
}

label {
  color: #052F83; /*4b4a4a*/  
  font-size: 17px;
  font-weight: bold;
}

.type_radio label {
  color: #4b4a4a;
}

#namber_creditcard {
  border: 1px solid #ffc107; /* #007bff */
  border-radius: 5px;
  color: #4b4a4a; /*4b4a4a*/
  font-size: 16px; 
  height: 30px;
  padding-left: 15px; /*escribir con un espacio en el input*/
  font-family: 'Times New Roman'; 
}

#alert_creditcard, #rejected {
  color: red;
  font-size: 12px;
}

.select {
  border: 1px solid #ffc107; /* rgba(175, 175, 175, 0.5); */
  border-radius: 5px;
  background-color: transparent;
  color: #4b4a4a;
  height: 35px;
  padding: .45rem .5rem;
}

#years{
  width: 80px;
}
  
#months {
  width: 115px;
}

#cvc_card {
  border: 1px solid #ffc107;
  border-radius: 5px;
  color: #4b4a4a; /*4b4a4a*/
  width: 80px;
  height: 30px;
  padding-left: 15px; /*escribir con un espacio en el input*/
  font-family: 'Times New Roman';
  font-size: 16px;
}

#accepted {
  color: #052F83; /*4b4a4a*/  
  font-weight: bold;
}

button {
  height:35px;
  width: 100%;
  position: relative; /*con absolute: se sale del div; con relative esta dentro del div*/
  background-color: #ffc107;
  color: #4b4a4a;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

.info_c2 {
  color: rgb(248, 135, 60);
  font-size: 16px;
  font-weight: bold;
}
  
#pie_principal {  
  display: flex;
  justify-content: space-between;
  height: 100px; /*alto del elemento : vertical*/
  background: #052F83;
  padding-left: 40px; /*para separarlo de la parte izquierda*/
  padding-top: 15px;
  padding-right: 40px;
  color: #99A5B9;
  line-height: .5; 
  /* es la sangria, el espacio de separacion   */
}
#pie_principal label{
  color: rgb(248, 135, 60);
}

#pie_final {
  display: flex;
  justify-content: center;
  height: 40px;
  background: #08194F;
  padding-top: center;
  color: #F4F7F9;
}

.hide_container {
  display: none;
}

em {
font-size: 2em;
}




